// box image
.box-image-container{
    margin: 0px 16px 100px 16px;
    .box-image-content{
        width: 337px;
        .box-image-item-one{
            width: 337px;
            height: 337px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .box-image-context{
            display: flex;
            justify-content: space-between;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0 10px 15px rgba(9, 0, 0, 0.15);
            .box-image-context-item-two{
                margin-left: 16px;
                margin-top: 16px;
                width: 70px;
                height: 30px;
                cursor: pointer;
                &:hover{
                    scale: 1.1;
                }
            }
            .box-img-button{
                margin-top: 16px;
                margin-right: 16px;
                margin-bottom: 16px;
                width: 150px;
                height: 30px;
                border-radius: 16px;
                border: 1px solid #000;
                background-color: #fff;
                &:hover{
                    scale: 1.1;
                }
            }
        }
    }
}


// box title
.box-title-container{
    width: 387px;
    min-height: 569px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(9, 0, 0, 0.15);
    position: relative;
    .box-title-content{
        margin-bottom: 40px;
        .box-title-icon{
            display: flex;
            justify-content: center;
            margin-top: 21px;
            // align-items: center;
            .box-title-icon-item{
                width: 120px;
                height: 100px;
                color: #EC008C;
            }
        }
        .div-box-title{
            margin-top: 13px;
            display: flex;
            justify-content: center;
            .box-title{
                font-family: "UVN Van B";
                width: 310px;
                text-align: center;
                font-weight: 100;
                font-size: 26px;
                line-height: 26px;
            }
        }
        .text-desc{
            // text-align: center;
            margin: 40px 25px;
        }
        ul{
            list-style:disc;
            margin: 0px 25px;
            li{
                p{
                    margin-left: -8px;
                    margin-top: -20px;
                }
            }
        }
    }
    .button-title-box{
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

// box image nd2
.box-image-nd2-container {
    width: 500px;
    min-height: 520px;
    box-shadow: 5px -1px 5px 5px rgba(6, 1, 1, 0.27);
    border-radius: 15px;

    .box-image-nd2-content {
        display: flex;
        flex-direction: column;
        min-height: 520px;

        .logo-item-1 {
            width: 500px;
            height: 300px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .box-image-nd2-content-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 20px;

            .box-image-nd2-content-item {
                .text-item-1{
                    font-size: 20px;
                }
                .text-item-2{
                    margin-top: -10px
                }
            }

            .box-image-nd2-logo-button {
                margin-top: auto;
                display: flex;
                justify-content: space-between;

                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .logo-item-2{
                        width: 120px;
                        height: 50px;
                    }
                }
            }
        }
    }
}


// box image nd2 mini
.box-image-nd2-container-mini {
    width: 340px;
    min-height: 340px;
    box-shadow: 5px -1px 5px 5px rgba(6, 1, 1, 0.27);
    border-radius: 15px;

    .box-image-nd2-content-mini {
        display: flex;
        flex-direction: column;
        min-height: 320px;

        .logo-item-1-mini {
            width: 100%;
            height: 200px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .box-image-nd2-content-container-mini {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 20px;
            background-color: #fff;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            .box-image-nd2-content-item-mini {
                min-height: 80px;
                .text-item-1-mini{
                    font-size: 13px;
                    line-height: 13px;
                }
                .text-item-2-mini{
                    margin-top: -10px;
                    font-size: 12px;
                    line-height: 12px;
                }
            }

            .box-image-nd2-logo-button-mini {
                margin-top: auto;
                display: flex;
                justify-content: space-between;

                .logo-mini {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .logo-item-2-mini{
                        width: 100px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
