
// button one
.button-context-box{
    .button-item{
        background-color: #014CA4;
        height: 50px;
        width: 170px;
        border: 1px solid hsl(212, 99%, 32%);
        border-radius: 25px;
        span{
            color: #fff;
        }
        &:hover{
            scale: 1.1;
        }
    }
}

// button arrow right
.button-arrow-right-box{
    .button-arrow-right-item{
        cursor: pointer;
        background-color: #014CA4;
        height: 50px;
        // width: 170px;
        border: 1px solid hsl(212, 99%, 32%);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        &:hover{
            scale: 1.1;
        }
        span{
            color: #fff;
        }
        .arrow-right-context{
            border: 1px solid #fff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 30px;
            .arrow-right-item{
                color: #fff;
                margin-top: -5px;
            }
        }
    }
}


// button arrow right mini
.button-arrow-right-box-mini{
    .button-arrow-right-item-mini{
        cursor: pointer;
        background-color: #014CA4;
        height: 35px;
        min-width: 140px;
        border: 1px solid hsl(212, 99%, 32%);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
        &:hover{
            scale: 1.1;
        }
        span{
            font-size: 11px;
            color: #fff;
        }
        .arrow-right-context-mini{
            border: 1px solid #fff;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 10px;
            .arrow-right-item-mini{
                font-size: 11px;
                color: #fff;
                margin-top: -15px;
            }
        }
    }
}