.tohe-container{
    .tohe-context{
        // top tohe
        .tohe-top-backgroud{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            .tohe-top-background-content{
                width: 1200px;
                display: flex;
                justify-content: space-between;
                .tohe-top-content{
                    margin-left: 50px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    h1{
                        font-size: 50px;
                    }
                    .tohe-top-content-text-p{
                        // font-weight: 100;
                    }
                }
                .tohe-top-image-bg{
                    position: relative;
                    .tohe-top-image-bg-item{
                        width: 483px;
                        height: 410px;
                        display: block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(
                            to right,
                            rgb(255, 255, 255),
                            rgba(128, 128, 128, 0.147)
                        );
                    }
                }
            }
        }


        // background tohe
        .tohe-bg-container{
            margin-top: 90px;
            position: relative;
            .background-content{
                background-image: url("/img/tohe/ve tohe/v216_230.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 500px;
                display: block;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to bottom,
                    rgba(201, 226, 255, 0.477),
                    rgba(7, 117, 227, 0.81)
                );
                z-index: 1;
            }
            .tohe-bg-content{
                position: absolute;
                inset: 0;
                z-index: 2222;
                display: flex;
                justify-content: center;
                align-items: center;
                .tohe-bg-content-flex{
                    .tohe-content-item{
                        h1{
                            text-align: center;
                            color: #fff;
                            font-size: 60px;
                        }
                    }
                    .tohe-box-context{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        .tohe-box-item{
                            width: 320px;
                            height: 260px;
                            border: 1px solid #fff;
                            border-radius: 15px;
                            background-color: #fff;
                            margin: 0px 10px;
                            // align-content: center;
                            .tohe-box-item-text-title{
                                text-align: center;
                                margin-top: 50px;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 24px;
                            }
                            .tohe-box-item-text-desc{
                                padding: 0 10px;
                                text-align: center;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
        .tohe-text-content_item-bottom{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .text-tohe-bottom{
                width: 700px;
                text-align: center;
            }
        }

        // tohe model
        .tohe-model-container{
            display: flex;
            justify-content: center;
            margin-top: 60px;
            .model-content{
                width: 1200px;
                .tohe-model-context{
                    .tohe-model-context-bg{
                        width: 1200px;
                        height: 430px;
                        border-radius: 15px;
                    }
                }
                .tohe-model-content-box{
                    margin-top: 100px;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 12px;
                    .tohe-model-item-left{
                        flex: 1;
                        .tohe-model-item-left-top{
                            .tohe-model-item-left-top-h4{
                                font-size: 24px;
                            }
                            .tohe-model-item-left-top-h1{
                                font-size: 52px;
                            }
                        }
                        .tohe-model-item-left-bottom{
                            margin-top: 220px;
                            margin-right: 20px;
                            .tohe-model-item-left-bottom-p-top{
                                font-size: 24px;
                            }
                        }
                    }
                    .tohe-model-item-right{
                        flex: 1;
                        width: 620px;
                        height: 497px;
                        position: relative;
                        .tohe-model-item-right-bg{
                            display: flex;
                            .tohe-model-item-right-bg-left{
                                width: 376px;
                                height: 497px;
                                position: absolute;
                                display: block;
                                left: 0;
                                bottom: -40px;
                                border-radius: 15px;
                                box-shadow: 0 10px 30px rgba(6, 1, 1, 0.408);
                            }
                            .tohe-model-item-right-bg-right{
                                width: 220px;
                                height: 292px;
                                position: absolute;
                                display: block;
                                bottom: -40px;
                                right: -20px;
                                border-radius: 15px;
                                box-shadow: 0 10px 30px rgba(133, 132, 132, 0.633);
                                z-index: 1;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 49%;
                                left: 66.4%;
                                width: 37%;
                                height: 60%;
                                background: linear-gradient(
                                    to bottom,
                                    rgb(255, 255, 255),
                                    rgba(128, 128, 128, 0.534)
                                );
                                border-radius: 15px;;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }

        // mission
        .tohe-mission-container{
            margin-top: 100px;
            position: relative;
            .background-content{
                background-image: url("/img/tohe/ve tohe/v416_2949.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 630px;
                display: block;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to bottom,
                    rgba(50, 50, 50, 0.897),
                    rgba(1, 10, 18, 0.699)
                );
                z-index: 1;
            }
            .tohe-mission-context{
                position: absolute;
                inset: 0;
                z-index: 2222;
                .tohe-mission-title{
                    margin-top: 30px;
                    h1{
                        text-align: center;
                        font-size: 64px;
                        color: #fff;
                    }
                }
                .tohe-mission-content-box{
                    display: flex;
                    justify-content: center;
                    .tohe-mission-box-content{
                        display: flex;
                        width: 1200px;
                        justify-content: center;
                        flex-wrap: wrap;
                        .tohe-mission-box-item{
                            width: 509px;
                            height: 180px;
                            padding: 25px;
                            border: 1px solid #000;
                            border-radius: 15px;
                            background-color: #0C4EA1;
                            margin: 10px;
                            .tohe-mission-box-item-top{
                                color: #fff;
                                font-size: 32px;
                            }
                            .tohe-mission-box-item-bottom{
                                color: #fff;
                                margin-top: 10px;
                                padding: 0px 50px 0px 0px;
                            }
                            ul{
                                list-style: disc;
                                color: #fff;
                                li{
                                    span{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // ability
        .tohe-ability-container{
            margin-top: 100px;
            .tohe-ability-context{
                .tohe-ability-top{
                    display: flex;
                    justify-content: center;
                    .tohe-ability-top-content{
                        display: flex;
                        .tohe-ability-top-title-h1{
                            margin-right: 20px;
                            margin-top: 10px;
                            h1{
                                font-size: 65px;
                                transform: scaleY(1.1);
                            }
                        }
                        .tohe-ability-top-desc-list-content{
                            padding: 20px 10px 10px 10px;
                            border: 1px solid #FBFBFB;
                            width: 657px;
                            border-radius: 15px;
                            background-color: #FBFBFB;
                            box-shadow: 0 10px 10px rgba(190, 190, 190, 0.633);
                            .tohe-ability-top-desc-list{
                                li{
                                    list-style: disc;
                                }
                            }
                        }
                        
                    }
                }
            }
            .tohe-ability-active-title{
                margin-top: 100px;
                .tohe-ability-active-title-h1{
                    text-align: center;
                    font-size: 64px;
                }
                .tohe-ability-active-content{
                    margin-top: 30px;
                    position: relative;
                    .background-content{
                        background-image: url("/img/tohe/ve tohe/v416_2913.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 630px;
                        display: block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(
                            to bottom,
                            rgba(108, 163, 225, 0.574),
                            rgb(11, 57, 103)
                        );
                        z-index: 1;
                    }
                    .tohe-ability-active-content-item{
                        position: absolute;
                        inset: 0;
                        z-index: 2222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .tohe-ability-active-content-item-box{
                            width: 920px;
                            .tohe-ability-active-content-item_item-top{
                                display: flex;
                                justify-content: space-between;
                            }
                            .tohe-ability-active-content-item_item-bottom{
                                display: flex;
                                justify-content: space-around;
                                margin-top: 60px;
                            }
                            .tohe-ability-active-content-item_item-top, .tohe-ability-active-content-item_item-bottom{
                                h1{
                                    font-size: 64px;
                                }
                                .p-top-ab{
                                    color: #fff;
                                    font-size: 20px;
                                    margin-top: -20px;
                                }
                                .p-bottom-ab{
                                    color: #fff;
                                    margin-top: -15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // action
        .tohe-action-container{
            margin-top: 100px;
            .tohe-action-context{
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                .tohe-action-title{
                    h1{
                        text-align: center;
                        font-size: 64px;
                    }
                    p{
                        text-align: center;
                        margin-top: -15px;
                        font-size: 20px;
                    }
                }
                .tohe-action-title-box{
                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    .tohe-action-box-content{
                        margin: 20px 15px;
                        .tohe-action-box-item{
                            display: flex;
                            width: 206px;
                            height: 414px;
                            // justify-content: center;
                            // flex-direction: column;
                            align-items: center;
                            border: 1px solid #fff;
                            border-radius: 15px;
                            background-color: #fff;
                            box-shadow: -5px 5px 10px rgba(190, 190, 190, 0.633);
                            border-radius: 15px;
                            .tohe-action-box-item_item{
                                .tohe-action-box-item-image{
                                    width: 90px;
                                    height: 90px;
                                    display: block;
                                    margin: 0 auto;
                                }
                                .tohe-action-box-item-text-top{
                                    text-align: center;
                                    margin: 10px 0;
                                    font-size: 18px;
                                }
                                .tohe-action-box-item-text-bottom{
                                    padding: 0 23px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }


        // button
        .tohe-button-next{
            margin: 100px 0;
            display: flex;
            justify-content: center;
        }



    }
}