.contact-container{
    .contact-context{
        .contact-title{
            margin: 60px 0;
            h1{
                text-align: center;
                font-size: 60px;
            }
        }
        .contact-content{
            display: flex;
            .contact-form{
                flex: 1;
                background-color: #e0478464;
                .contact-form{
                    margin: 60px 40px 70px 150px;
                    padding: 60px 60px 30px 60px;
                    border-radius: 20px;
                    background-color: #fff;
                    .contact-form-input{
                        .contact-form-input-item{
                            padding: 10px;
                            color: #00000057;
                        }
                    }
                    .contact-form-button{
                        margin-top: 60px;
                        display: flex;
                        justify-content: center;
                        .button-item{
                            width: 100%;
                            padding: 10px 0;
                            border-radius: 15px;
                            border: none;
                            color: #fff;
                            font-size: 18px;
                            background-color: #014CA4;
                        }
                    }
                }

            }
            .contact-contact{
                flex: 1;
                background-color: #014CA4;
                .contact-contact-box{
                    margin: 170px 0 0 70px;
                    .contact-contact-title{
                        h1{
                            font-size: 40px;
                            color: #fff;
                        }
                    }
                    .contact-contact-box-icon{
                        .icon-item{
                            .icon-item_item-ig{
                                background-color: #fff;
                                color: #ed1d7b;
                                font-size: 30px;
                                border-radius: 60%;
                            }
                            .icon-item_item-fb{
                                margin-top: 10px;
                                background-color: #fff;
                                color: #014CA4;
                                font-size: 30px;
                                border-radius: 50%;
                            }
                            .icon-item_item-phone{
                                width: 30px;
                                height: 30px;
                                margin: 10px 0;
                                background-color: #fff;
                                color: #e04784;
                                font-size: 24px;
                                padding: 5px;
                                border-radius: 50%;
                            }
                        }
                        .text-item{
                            color: #fff;
                            margin-left: 10px;
                        }
                        .tohe.style{

                        }
                    }

                }
            }
        }
    }
}