.partnership-model-container-nd2{
    .partnership-model-context-nd2{
        .partnership-model-content-nd2{
            
            // padding: 0 30px;
            .home-context_box_item-box-hm1{
                z-index: 9999;
                background-color: #fff;
                // width: 1086px;
                width: 100%;
                height: 400px;
                margin-top: 100px;
                display: flex;
                justify-content: space-between;
                box-shadow: 10px 10px 20px rgba(9, 0, 0, 0.463);
                .box-content-box-left-hm1{
                    display: flex;
                    align-items: center;
                    margin-left: 100px;
                    width: 800px;
                    margin-top: 30px;
                    .home-img-two-hm1{
                        width: 180px;
                        height: 55px;
                        margin-left: 10px;
                    }
                    h1{
                        margin-left: 40px;
                        font-size: 60px;
                    }
                    p{
                        margin-left: 40px;
                        width: 590px;
                    }
                    .home-button-left-hm1{
                        margin-left: 40px;
                        // display: flex;
                        // justify-content: center;
                    }
                }
                .box-img-box-right-hm1{
                    .home-img-box{
                        width: 650px;
                        height: 400px;
                        margin-left: -120px;
                        // margin-top: 46px;
                        // border-radius: 21px;
                    }
                }
            }


            // background tohe
            .partnership-model-content-bg-nd2{
                margin-top: 100px;
                .partnership-model-content-bg-item-text-nd2{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    h1{
                        text-align: center;
                        font-size: 60px;
                    }
                    .text{
                        display: flex;
                        justify-content: center;
                        p{
                            width: 1000px;
                            font-size: 18px;
                            text-align: center;
                            margin-top: -15px;
                        }
                    }
                }
                .tohe-bg-container{
                    // margin-top: 90px;
                    position: relative;
                    .background-content{
                        background-image: url("/img/tohe/hinh-thuc-dong-hanh/nd2/v342_690.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 460px;
                        display: block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(
                            to bottom,
                            rgba(122, 183, 254, 0.71),
                            rgba(2, 73, 145, 0.999)
                        );
                        z-index: 1;
                    }
                    .tohe-bg-content{
                        position: absolute;
                        inset: 0;
                        z-index: 2222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .tohe-bg-content-flex{
                            .tohe-content-item{
                                h1{
                                    text-align: center;
                                    color: #fff;
                                    font-size: 60px;
                                }
                            }
                            .tohe-box-context{
                                display: flex;
                                justify-content: space-between;
                                .tohe-box-item{
                                    width: 320px;
                                    // height: 430px;
                                    border: 1px solid #fff;
                                    border-radius: 15px;
                                    background-color: #fff;
                                    margin: 0px 10px;
                                    // align-content: center;
                                    img{
                                        width: 320px;
                                        height: 170px;
                                        border-top-left-radius: 15px;
                                        border-top-right-radius: 15px;
                                    }
                                    .tohe-box-item-text-title{
                                        text-align: center;
                                        margin-top: 10px;
                                        font-weight: bold;
                                        font-size: 20px;
                                        line-height: 24px;
                                    }
                                    .tohe-box-item-text-desc{
                                        padding: 0 10px;
                                        // text-align: center;
                                        margin-top: -5px;
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // title text
            .partnership-model-content-item-pm1{
                .partnership-model-item-pm1_item{
                    display: flex;
                    justify-content: center;
                    margin-top: 100px;
                    .partnership-model-pm1-top{
                        width: 1200px;
                        display: flex;
                        img{
                            width: 430px;
                            height: 370px;
                            margin-right: 60px;
                            border-radius: 15px;
                        }
                        .partnership-model-pm1-top-right{
                            margin-left: -40px;
                            .partnership-model-pm1-top-title{
                                h1{
                                    font-size: 60px;
                                }
                            }
                            .partnership-model-pm1-top-item{
                                display: flex;
                                margin-top: 5px;
                                .item-number{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    z-index: 999;
                                    h1{
                                        text-align: center;
                                        background-color: #0C4EA1;
                                        padding: 10px 20px;
                                        color: #fff;
                                        font-size: 35px;
                                    }
                                }
                                .item-text{
                                    display: flex;
                                    align-items: center;
                                    height: 62px;
                                    border-top-right-radius: 30px;
                                    border-bottom-right-radius: 30px;
                                    box-shadow: 0 5px 5px rgba(6, 1, 1, 0.408);
                                    margin-left: -30px;
                                    padding-right: 10px;
                                    width: 100%;
                                    div{
                                        margin-left: 40px;
                                        padding-right: 10px;
                                        span{
                                            // padding-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .partnership-model-impact-content{
                    margin-top: 100px;
                    h1{
                        text-align: center;
                        font-size: 60px;
                    }
                    p{
                        text-align: center;
                        margin-top: -15px;
                        font-size: 18px;
                    }
                }
                .partnership-model-impact-content-box{
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                    .box-item-model{
                        margin: 0 15px;
                    }
                }
            }

            // busines partnership model
            .partnership-model-business{
                margin-top: 100px;
                margin-bottom: 100px;
                background-color: #0C4EA1;
                .partnership-model-business-content{
                    .partnership-model-business-content-top{
                        display: flex;
                        justify-content: center;
                        margin: 0 50px;
                        .partnership-model-business-content-bg{
                            margin-top: 60px;
                            position: relative;
                            .background-content{
                                background-image: url("/img/tohe/hinh-thuc-dong-hanh/nd2/v342_851.png");
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 550px;
                                height: 550px;
                                display: block;
                                border-radius: 15px;
                            }
                            &::before {
                                border-radius: 15px;
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(
                                    to bottom,
                                    rgba(30, 30, 30, 0.604),
                                    rgba(41, 40, 40, 0.795)
                                );
                                z-index: 1;
                            }
                            .partnership-model-business-content-bg-item{
                                position: absolute;
                                inset: 0;
                                z-index: 9;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                left: 100px;
                                top: 50px;
                                img{
                                    width: 500px;
                                    height: 430px;
                                    border-radius: 15px;
                                }
                            }
                        }
                        .partnership-model-business-content-text{
                            margin-top: 60px;
                            margin-left: 50px;
                            .text-h1-top{
                                font-size: 50px;
                            }
                            .text-h1-bottom{
                                font-size: 60px;
                                color: #fff;
                                margin-top: -20px;
                            }
                            .partnership-model-business-box-item{
                                border: 1px solid #000;
                                background-color: #fff;
                                padding: 20px;
                                border-radius: 15px;
                                margin-top: 10px;
                                width: 700px;
                                h4{
                                    font-size: 26px;
                                    margin-bottom: 0px;
                                }
                                p{
                                    border-top: 1px solid #000;
                                }
                            }
                        }
                    }
                    .partnership-model-business-content-bottom{
                        display: flex;
                        justify-content: center;
                        margin: 0 50px;
                        .partnership-model-business-content-bg{
                            margin-top: 60px;
                            margin-bottom: 100px;
                            position: relative;
                            .background-content{
                                background-image: url("/img/tohe/hinh-thuc-dong-hanh/nd2/v342_905.png");
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 550px;
                                height: 550px;
                                display: block;
                                border-radius: 15px;
                            }
                            &::before {
                                border-radius: 15px;
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(
                                    to bottom,
                                    rgba(30, 30, 30, 0.604),
                                    rgba(41, 40, 40, 0.795)
                                );
                                z-index: 1;
                            }
                            .partnership-model-business-content-bg-item{
                                position: absolute;
                                inset: 0;
                                z-index: 9;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                left: -100px;
                                top: 50px;
                                img{
                                    width: 500px;
                                    height: 430px;
                                    border-radius: 15px;
                                }
                            }
                        }
                        .partnership-model-business-content-text{
                            margin-top: 60px;
                            margin-right: 50px;
                            .text-h1-top{
                                font-size: 50px;
                                text-align: right;
                            }
                            .text-h1-bottom{
                                font-size: 60px;
                                color: #fff;
                                margin-top: -20px;
                                text-align: right;
                            }
                            .partnership-model-business-box-item{
                                border: 1px solid #000;
                                background-color: #fff;
                                padding: 20px;
                                border-radius: 15px;
                                margin-top: 10px;
                                width: 710px;
                                h4{
                                    font-size: 26px;
                                    margin-bottom: 0px;
                                }
                                p{
                                    border-top: 1px solid #000;
                                }
                            }
                        }
                    }
                }
            }






        }
    }
}