.contaier-footer{
    display: flex;
    justify-content: center;
    .footer-context{
        height: 355px;
        width: 1189px;
        margin: 0px 125px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0px -18px 30px rgba(0, 0, 0, 0.15);
        .context-box{
            margin: 40px 33px;
            display: flex;
            justify-content: space-between;
            .box-item-footer{
                // margin-right: 83px;
                .footer-logo{
                    margin-top: 15px;
                    img{
                        margin-left: -30px;
                        margin-top: -30px;
                    }
                }
                .footer-logo-ft1{
                    margin-left: -60px;
                    margin-top: -30px;
                }
                .foter-logo-branch-ft1{
                    display: flex;
                    justify-content: space-between;
                    .item_one-foter-logo-branch-ft1{
                        display: flex;
                        .footer-box-text{
                            margin-right: 15px;
                            font-weight: 700;
                            font-family: "UVN Van B";
                        }
                        .icon-ft1{
                            display: flex;
                            .item_icon-ft1{
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                &:hover{
                                    scale: 1.1;
                                }
                            }
                            .item_icon-instagram-ft1{
                                width: 50px;
                                height: 50px;
                                margin-top: -10px;
                                cursor: pointer;
                                &:hover{
                                    scale: 1.1;
                                }
                            }
                        }
                    }
                    .item_two-foter-logo-branch-ft1{}
                }
            }
            .title-ft1{
                width: 400px;
                .footer-box-text{
                    // font-size: 26px;
                    font-family: "UVN Van B";
                }
            }
            .box_item-flex{
                display: flex;
                justify-content: space-between;
                .item_item-box-footer{
                    margin-top: 77px;
                    ul{
                        li{
                            .footer-box-text{
                                font-weight: 700;
                                font-family: "UVN Van B";
                            }
                        }
                        li{
                            p{
                                &:hover{
                                    border-bottom: 2px solid #61dafb;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}