// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
// @font-face {
//     font-family: "SVN Van";
//     src: url("../fonts/UVN-Van.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: "UVN Van";
    src: url("./assets/fonts/UVN-Van.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "UVN Van B";
    src: url("./assets/fonts/UVNVan-B.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VN Wosker";
    src: url("./assets/fonts/VN-Wosker.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: "VN Wosker";
}
p{
    font-family: "UVN Van";
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

ul {
    list-style: none;
}

.loading-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .loading-user {
        margin: 0px auto;

    }
}
.text-blue{
    color: #014CA4;
}
.text-pink{
    color: #EC008C;
}
.text-bold-height{
    // font-weight: 700;
    // text-shadow: 1px 1px 1px currentColor;
}
.text-bold-base{
    // font-weight: 600;
    // text-shadow: 0px 0px 1px currentColor;
}
.text-title{
    font-size: 64px;
    line-height: 80px;
}
.font-vn-wosker{
    font-family: "VN Wosker";
}
.font-uvn-b{
    font-family: "UVN Van B";
}