@font-face {
    font-family: "SVN Van";
    src: url("../fonts/SVN-Van.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VN Wosker";
    src: url("../fonts/VN-Wosker.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}